// Grand Central Station//
@import 'google-homepage';
//first frame

#randomp {
    width: 15%;
    margin: 0;
    margin-top: 10%;
    margin-left: 28%;
    z-index: 1;
    position: absolute;
    
}

#randomp2 {
    width: 15%;
    margin: 0;
    margin-top: 10%;
    margin-left: 47%;
    z-index: 1;
    position: absolute;
}

img {
    margin: 1em;
    width: 80%;
    margin-left: 10%;
}

#box{
    margin-bottom: 5%;
    width: 90%;
    padding-left: 5%;
    padding-top: 2%
    
}

